*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #000002;
    --text-color: #ffffff;
    --bg-color: #10C4AE;
    --big-font:4rem;
    --h2-font:2.25rem;
    --p-font:1.2rem;
}
/*------Barra de rolagem------*/
html{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

/*-------------CORPO--------------*/
body{
    color:var(var(--text-color));
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 170px;
    background: var(--bg-color);
}
/*------Navbar------*/
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--main-color);
    font-size: 1.1rem;
    padding: 10px 20px ;
    font-weight: 500;
    color: #000002;
}

.navbar a:hover{
    color: var(--text-color);
    transition: 0.5s;
}

.div-lateral {
    position: absolute;
    position: fixed;
    background-color: #FFF;
    height: 350px;
    width: 120px;
    top: 150px;
    right: 0;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    line-height: 30px;
}

.div-lateral li:hover{
    color: var(--bg-color);
    transform: translateX(-5px);
    transition: 0.5s ease;
}
.div-lateral a:hover{
    color: var(--bg-color);
}
.div-lateral a {
    color: #000000;
}
section{
    padding: 115px 17%;
}
/*------Home------*/
.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.home-img img{
    max-width: 100%;
}
   
.home-img {
    position: relative;
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
    font-family: var(--title-font);

}
.home-text h2{
    color: var(--main-color);
    font-size: 3em;
    text-shadow: 2px 2px 2px black;
}

.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
    color: var(--text-color);
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #FFF;
    border-radius: 0.5rem;
}

.btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
/*------Sobre------*/
.sobre{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1rem;
    align-items: center;
    color: var(--text-color);
}

.sobre-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}

.sobre-text h2{
    font-size: var(--h2-font);
    text-shadow: 1px 1px 2px black;
    font-family: var(--title-font);
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sobre-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
    font-size: var(--p-font);
}

.main{
    display: flex;
    flex-wrap: wrap;
    color: var(--text-color);
}

/*-------------Fotos----------------*/

.fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-content: center;
    max-width: 1000px;
    height: 350px;
    margin: 0 auto;
}
.fotos img {
    border-radius: .0.4rem;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.205);
    padding: 7px;
    background-color: #FFF;
}

.fotos img:hover {
    transform: scale(1.2) translateY(10px);
    transition: .4s;
    transform: rotate(5deg);
}

/*-------------Equipe---------------*/
.features .box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4rem 2rem;
}
 
.heading-title{
    font-size: var(--h2-font);
    text-align: center;
    font-family: var(--title-font);
    color: var(--text-color);
    text-shadow: 1px 1px 2px black;
}

.box-funcionario{
    flex: 1 1 10rem;
    background: white;
    border-radius: .0.4rem;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.205);
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
    transition: 0.1s;
    height: 220px;
}

.box-funcionario img{
  height: 70px;
}
.features .box-container .box-funcionario:hover {
    transform: scale(1.2) translateY(5px);
    transition: .4s;
    transform: rotate(-3deg);
}

.features .box-container .box-funcionario h3{
    font-size: 1rem;
    color: var(--main-color);
    padding-top: 1rem;
}
    
.features .box-container .box-funcionario h2{
    font-size: 1rem;
    color: var(--main-color);
    padding-top: 1rem;
}
 
/*------Rodapé------*/

.footer{
    padding: 10px 0;
}

.col{
    width: 25%;
}

.col h4{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom:  -8px;
    background: var(--main-color);
}

.col ul {
    margin-bottom: 15px;
}
.col{
    width: 25%;
}
.col ul li a{
    color: var(--main-color);
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.col ul li a:hover{
    color: var(--text-color);
    transform: translateX(-12px);
}

.credit{
    text-align: center;
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: .1rem solid var(--main-color);
    font-size: 1.5rem;
 }
 

 

/*----------Responsividade------------*/

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .home { width: 425px; grid-template-columns: 1fr;}
    .home-img { display: none; }
    .home-text { text-align: center; margin: 0 auto;}
    .sobre-img { display: none; }
    .sobre { width: 425px; grid-template-columns: 1fr;}
    .fotos { width: 300px; height: 1000px; grid-template-columns: 1fr; justify-content: center; }
    .div-lateral { display: none; }
    .navbar a { font-size: 14px; padding: 10px;}
    .logo { display: none;}
    header { max-width: 425px; justify-content: center; margin-left: 50px; }
    .col{ width: 100%; }
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}